/* *********GENERAL STYLING******** */
/* ******************************** */
::-webkit-scrollbar {
  height: 0;
}
section {
  width: calc(var(--mobile-unit-width) * 13);
  transform: translateX(var(--mobile-unit-width));
  margin-top: 3.5rem;
}
.detail-boxes * {
  animation: toTop 0.8s linear;
}

.next-detail-box,
.next-detail-box *,
.img-composition, .img-composition * {
  animation-delay: 1s;
}

/* *********TYPOGRAPHY********* */

.article-title {
  /* font-size: 0.7em; */
  color: var(--mid-gray);
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.article-title::before {
  content: "";
  width: calc(var(--mobile-unit-width) * 12);
  display: block;
  height: 0.8px;
  background-color: green;
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-title-desc {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--mid-gray);
  margin-bottom: 0.7em;
}

.article-desc {
  font-size: 1.5em;
  color: var(--mid-gray);
  margin-bottom: 5rem;
}
h3 {
  letter-spacing: 1px;
}

/* *****LAYOUT******* */
.article-img {
  height: 25vh;
  background-color: green;
  margin-bottom: 0.7em;
}

.article-desc {
  width: calc(var(--mobile-unit-width) * 12);
}

.large-img {
  width: calc(var(--mobile-unit-width) * 9);
  height: calc(var(--mobile-unit-width) * 9);
  background-color: green;
}

.img-composition {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.small-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-img {
  width: calc(var(--mobile-unit-width) * 3.8);
  height: calc(var(--mobile-unit-width) * 9 / 2.037);
  background-color: green;
}

.next-detail-slider .right,
.next-detail-slider .left {
  width: 30px;
  opacity: 0.6;
  /* position: absolute; */
  z-index: 10;
}

.detail-boxes {
  margin-bottom: 5rem;
}
/* new-detail */
.next-detail-list {
  display: flex;
  overflow: hidden;
}
.next-detail-box {
  /* overflow: hidden; */
  width: calc(var(--mobile-unit-width) * 12);
}

.next-detail-desc {
  position: relative;
  /* margin-bottom: 5.5rem; */
}

.next-detail-desc p {
  margin-bottom: 1rem;
}
.next-detail-title {
  width: calc(var(--mobile-unit-width) * 12);
  margin-bottom: 1rem;
}

.next-detail-slider {
  /* overflow: hidden; */
}
.next-detail-list {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.next-detail-slide {
  /* width: 100%; */
  transition: transform 0.3s;
}

.next-detail-img-wrapper {
  height: 35vh;
  background-color: var(--img-yellow);
  /* margin-bottom: 0.3rem; */
}

.next-detail-slider-arrows .right,
.next-detail-slider-arrows .left {
  position: absolute;
  bottom: calc(calc((35vh + 0.3rem) / 2));
  transform: translate(0, 50%);
}

.next-detail-slider-arrows .right {
  right: 10px;
}
.next-detail-slider-arrows .left {
  left: 10px;
  transform: translate(0, 50%) rotate(180deg);
}
@media screen and (min-width: 800px) {
  /* *****GENERAL STYLING ********** */
  /* ******************************** */
  section {
    width: calc(var(--desktop-unit-width) * 32);
    transform: translateX(calc(var(--desktop-unit-width) * 11));
    position: relative;
  }

  .next-detail-box {
    margin-bottom: 0;
  }
  .next-detail-list {
    width: calc(var(--desktop-unit-width) * 40);
    position: relative;
    right: calc(var(--desktop-unit-width) * 9);
    background-color: yellow;
    overflow: scroll;
  }

  .next-detail-slide p,
  .next-detail-list .next-detail-title,
  .next-detail-img-wrapper {
    width: calc(var(--desktop-unit-width) * 40);
    position: relative;
    right: calc(var(--desktop-unit-width) * -9);
  }
  .next-detail-img-wrapper {
    width: calc(var(--desktop-unit-width) * 29);
  }

  .next-detail-box {
    width: calc(var(--desktop-unit-width) * 32);
  }
  /* Typography */

  .next-detail-slide .section-title {
    /* right: calc(var(--desktop-unit-width) * 35); */
    position: relative;
    right: initial;
    margin-bottom: 0;
    background-color: var(--light-gray);
    color: yellow;
    border: none;
    letter-spacing: 2px;
  }

  .article-title-desc {
    font-size: 1.4rem;
    color: var(--mid-gray);
    margin-bottom: 0.7em;
  }
  .article {
    margin-top: 5rem;
    position: relative;
  }
  .article-show-desc {
    position: absolute;
    width: 10vw;
    top: 0;
    right: calc(var(--desktop-unit-width) * 35);
  }

  .article-title {
    font-size: 1.2rem;
  }
  .article-title::before {
    width: 100%;
    margin-top: 0;
  }

  .article-desc {
    width: calc(var(--desktop-unit-width) * 22);
    margin-bottom: 5rem;
  }

  .article-img {
    height: 65vh;
    width: calc(var(--desktop-unit-width) * 30);
    background-color: green;
    margin-bottom: 5rem;
  }

  .img-composition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    /* background-color: #fff; */
    width: calc(var(--desktop-unit-width) * 30);
  }

  .large-img {
    width: calc(var(--desktop-unit-width) * 21);
    height: calc(var(--desktop-unit-width) * 21);
    background-color: green;
  }

  .small-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .small-img {
    width: calc(var(--desktop-unit-width) * 8.65);
    height: calc(var(--desktop-unit-width) * 21 / 2.037);
    background-color: green;
  }

  .next-detail-img-wrapper {
    height: 55vh;
  }

  .next-detail-slider-arrows .right,
  .next-detail-slider-arrows .left {
    top: 0;
  }

  .next-detail-slider-arrows .right {
    right: calc(var(--desktop-unit-width) * 4);
  }
  .next-detail-slider-arrows .left {
    left: initial;
    right: calc(var(--desktop-unit-width) * 5);
    top: 20px;
    transform: translate(0, 50%) rotate(180deg);
  }
}
